<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/styles.css" />
		<title>Activity</title>
	</head>
	<body>
		<h1>Hello Bruh!</h1>
		<% Posts.forEach(element => { %>
		<div class="post">
			<p class="title"><%= element.title %></p>
			<p class="author">By <%= element.author %></p>
			<p class="content"><%= element.content %></p>
		</div>
		<% }); %>
	</body>
</html>
