<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<title>Todo App</title>
	</head>
	<body>
		<h1>All Tasks</h1>
		<ul>
			<% todos.forEach((todo) => { %>
			<li>
				<p>
					<%= todo.title %> <% if (todo.completed) {%>
					<span style="color: green">(Completed)</span>
					<% } else { %>
					<a href="/complete/<%= todo.id %>">Complete</a>
				</p>
				<% } %>
			</li>
			<% }) %>
		</ul>
		<a href="/create">Create new todo</a>
	</body>
</html>
