<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0" />
		<link
			rel="stylesheet"
			href="/styles.css"
			type="text/css" />
		<title>Student View</title>
	</head>
	<body>
		<h1>Student View</h1>
		<p>You can access this since your are a Student!</p>
		<a href="/logout">Logout</a>
	</body>
</html>
