:root {
	background-color: gray;
}

#head {
	text-align: center;
}
#univ {
	font-size: 20px;
	border-radius: 10px;
	padding: 10px;
}

#container {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	text-align: center;
	align-items: center;
}

.university {
	border: 2px solid lightgray;
	border-radius: 20px;
	width: fit-content;
	margin-bottom: 20px;
	padding: 16px;
}
