:root {
	background-color: lightblue;
	display: flex;
	justify-content: center;
}

h1 {
	font-size: 50px;
}

.title {
	font-size: 36px;
}

.post {
	border: 1px solid green;
	width: 500px;
	padding: 20px;
	margin-bottom: 20px;
	border-radius: 12px;
}

.content {
	font-size: 24px;
}
