html 
  head  
    link(rel="stylesheet", href="/assets/css/style.css")
    title Insta Dup 
  body  
    nav 
      ul 
        li  
          h1
            a(href="/")  Insta
        li
          button
            a(href="/create-post") Create Post
    #container
      div
        h1 An error occurred !
        h2 Refresh the page or navigate to home