html 
  head  
    title Projects Page
  body  
    nav 
      ul 
        li  
          a(href="/") 
            h2 Home
        li  
          a(href="/projects") 
            h2 Projects
        li  
          a(href="/about") 
            h2 About
        li  
          a(href="/contact") 
            h2 Contact
        
        
    h1 This is Projects Page